
body{
    background-color: tan;
    height: 100vh;
    margin: 0;
    user-select: none;
    font-family: 'Segoe UI', sans-serif;
}

header{
    width: 100%;
    height: 104px;
    background-color:#ef5350;
    box-shadow: rgba(0, 0, 0, 0.685) 0 0 5px 5px;
}

#logo{
    aspect-ratio:4/1;
    object-fit: contain;
    margin-left:-25px ;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

#contenedor_principal{
    height: 70%;
    min-width:930px;
    min-height: 200px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(233, 238, 238);
    box-shadow: black 0 0 20px 1px;
    display: flex;
    justify-content: center;
}

#mitad1{
    border-right: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll ;
}

#pokemon{
    width: 250px;
    padding: 20px;
    border-radius: 40px;
    margin-top: 60px;
    transition: all 0.2s;
}

#pokemon:focus{
    background-color: rgb(255, 227, 101);
    border: solid rgb(85, 83, 214) 4px;
}

#buscar{
    height: 45px;
    width: 150px;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    transition: ease-in-out 0.3s;
}

#buscar:hover{
    background-color:#ef5350;
    color: white;
    font-size: 400;
}

#imagen{
    height: 250px;
    width: 250px;
    border: solid black 4px;
    border-radius: 10px;
    margin-top: 60px;
    display: flex;
    position: relative;
    z-index: 0;
}

#icono_sonido{
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 10;
}

.flecha{
    height:40px; 
    margin: 0;
    font-size: 40px;
    cursor: pointer;
}


#mitad2{
    padding-left: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    
}

.info h2{
    text-align: center;
}

#tipos{
    padding-left: 20px;
    margin-top: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #928e8e;
    border-radius: 5px;
}



footer{
    background-color: rgb(196, 166, 127);
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
}